/** @section Fonts */
@font-face {
    font-family: "Lexend Deca";
    src: url("fonts/LexendDeca-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Big SHoulders Display";
    src: url("fonts/BigShouldersDisplay-Bold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}